.mask-group {
    position: absolute;
    width: 1440px;
    height: 1024px;
}

.desktop-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 1440px;
    height: 1024px;
    background: #262626;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
}

.button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 116px;
    height: 28px;
    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;
}

.star {
    display: none;
    width: 16px;
    height: 16px;
}

.button-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #F5F5F5;
}

.x {
    display: none;
    width: 16px;
    height: 16px;
}

.ubghyper-container {
    box-sizing: border-box;
    position: absolute;
    width: 1388px;
    height: 931px;
    background: #F9945C;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

.ubghyper-title {
    position: absolute;
    width: 624px;
    height: 488px;
    left: 362px;
    top: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 100%;
    text-align: center;
    color: #000000;
}

.ubghyper-description {
    position: absolute;
    width: 985px;
    height: 29px;
    left: 206px;
    top: 221px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 100%;
    text-align: center;
    color: #000000;
}

.ubghyper-footer {
    position: absolute;
    width: 272px;
    height: 29px;
    left: 27px;
    top: 874px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 100%;
    text-align: center;
    color: #000000;
}
