/* Import custom styles */
@import url(/./config/custom.css);
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Variable configuration */
/* Uncomment and define variables if needed */
/* :root {
  --background-color: #41444e;
  --text-color: white;
  --accent-color: #404040;
} */

/* Custom scrollbar styles */
body {
  --sb-track-color: #676767;
  --sb-thumb-color: #dc4100;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
  background: var(--sb-track-color); /* Background for the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 7px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b83200; /* Darker shade on hover for better visibility */
}

@supports not (selector(::-webkit-scrollbar)) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

* {
  font-family: 'Ubuntu', sans-serif; /* Use quotes for font family */
}

/* General styles */
body {
  background-image: url('../assets/background/background-white.png'); /* Set your background image */
  background-size: cover; /* Cover the entire area */
  background-repeat: no-repeat; /* Prevent repeating */
  background-attachment: fixed; /* Keep it fixed when scrolling */
  color: var(--text-color);
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game {
  background-color: white;
}

/* Toggle Switch Styles */
.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #b0b0b0;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Fixed Bottom Bar Styles */
.fixed-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e8e8e8;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Search input styles */
#searchInput {
  padding: 10px;
  box-sizing: border-box;
  margin: 20px auto; /* Center horizontally */
  width: 100%; /* Occupy full width */
  max-width: 400px; /* Limit maximum width */
  border-radius: 10px;
  border: none;
  user-select: none;
  outline: none;
}

/* Games container styles */
#gamesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-height: 70vh; /* Limit the height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

.game-card {
  background: white;
  border-radius: 15px; /* Increased roundness of corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 200px;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Game styles */
.game {
  margin: 10px;
  text-align: center;
  flex: 1 0 200px; /* Flexbox item properties */
  max-width: 200px; /* Limit maximum width */
  display: inline-block;
  transition: transform 0.3s ease;
  border-radius: 10px; /* Adjust the value for more or less rounding */
}

.game:hover {
  transform: scale(0.95); /* Scale up on hover */
}

/* Game image styles */
.game img {
  width: 200px; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  object-fit: cover; /* Maintain aspect ratio and fill the box */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* Footer styles */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#themeToggle {
  margin-left: 10px;
}

/* Game description styles */
.game p {
  margin-top: 5px;
  font-weight: 600;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .game {
    flex-basis: calc(50% - 20px); /* Two games per row */
  }
}

@media only screen and (max-width: 400px) {
  .game {
    flex-basis: calc(100% - 20px); /* Single game per row */
  }
}

.center {
  justify-content: center;
  text-align: center;
  display: flex;
}

@media only screen and (max-width: 450px) {
  #searchInput {
    width: 200px;
  }
}
