/* Import custom styles */
@import url('/config/custom.css');

/* Global Variables */
:root {
  --text-color: #ffffff; /* Use hex code for white */
  --accent-color: #000000; /* Use hex code for black */
  --background-color: #f0f0f0; /* Add a default background color */
}

/* Font Face */
@font-face {
  font-family: 'Apple'; /* Choose a name for your font */
  src: url('content/fonts/Yantramanav-Black.ttf'); /* Replace with the actual file path */
  font-weight: normal;
  font-style: normal;
}

/* Apple Font Class */
.Apple-font {
  font-family: 'Apple', sans-serif; /* Use the font family name */
  color: #ffffff; /* Set the text color to white */
}

/* Scrollbar Styles */
.scrollbar-wrapper {
  overflow-y: auto;
  padding-right: 10px; /* add space for the scrollbar */
}

        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            color: #333;
            transition: background-color 0.5s, color 0.5s;
        }

body.light-mode {
    background-image: url('content/backrounds/backroundlight.png');
    color: black;
    background-size: cover; /* Adjusts the size of the background image to cover the whole area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
}

body.dark-mode {
    background-image: url('content/backrounds/backround.png');
    color: black;
    background-size: cover; /* Adjusts the size of the background image to cover the whole area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
}

body.blue-mode {
    background-image: url('content/backrounds/backroundblue.png');
    color: black;
    background-size: cover; /* Adjusts the size of the background image to cover the whole area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
}

        body::-webkit-scrollbar {
            width: 12px;
        }

        body::-webkit-scrollbar-track {
            background: black;
        }

        body.light-mode::-webkit-scrollbar-track {
            background: #ccc;
        }

        body.blue-mode::-webkit-scrollbar-track {
            background: #87cefa;
        }

        body::-webkit-scrollbar-thumb {
            background-color: black;
            border-radius: 20px;
            border: 3px solid orange;
        }

        .center {
            text-align: center;
            margin: 20px 0;
        }

        .center h1 {
            margin: 10px 0;
            font-family: 'Apple-font', sans-serif;
        }

        #searchInput {
            padding: 10px;
            width: 80%;
            max-width: 400px;
            border: 2px solid orange;
            border-radius: 5px;
            font-size: 16px;
        }

        #gamesContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
        }

        .footer {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: white;
        }

        .footer.light-mode {
            background-color: #ccc;
            color: black;
        }

        .footer.dark-mode {
            background-color: #333;
            color: white;
        }

        .footer.blue-mode {
            background-color: #87cefa;
            color: #003366;
        }

        .footer h1 {
            margin: 5px 0;
            font-family: 'Apple-font', sans-serif;
        }

        .game-container {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .game-square {
            width: 100px;
            height: 100px;
            background-color: orange;
            margin: 10px;
            border-radius: 10px;
        }

        .switch-container {
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border: 2px solid orange;
        }

        .toggle-switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin-right: 10px;
        }

        .toggle-switch input[type="checkbox"] {
            display: none;
        }

        .toggle-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }

        .toggle-slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: orange;
            transition: .4s;
            border-radius: 50%;
        }

        .toggle-switch input[type="checkbox"]:checked + label .toggle-slider {
            background-color: #333;
        }

        .toggle-switch input[type="checkbox"]:checked + label .toggle-slider:before {
            transform: translateX(26px);
        }

        .theme-select {
            font-size: 16px;
            padding: 5px 10px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: black;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .theme-select:focus {
            outline: none;
        }

        .mode-text {
            font-family: 'Apple-font', sans-serif;
            color: #333;
        }

        .mode-text.light-mode {
            color: black;
        }

        .mode-text.dark-mode {
            color: white;
        }

        .mode-text.blue-mode {
            color: #003366;
        }
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}

body.light-mode {
    background-image: url('content/backrounds/backroundlight.png');
    color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.dark-mode {
    background-image: url('content/backrounds/backround.png');
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.blue-mode {
    background-image: url('content/backrounds/backroundblue.png');
    color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: black;
}

body.light-mode::-webkit-scrollbar-track {
    background: #ccc;
}

body.blue-mode::-webkit-scrollbar-track {
    background: #87cefa;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid orange;
}

.center {
    text-align: center;
    margin: 20px 0;
}

.center h1 {
    margin: 10px 0;
    font-family: 'Apple-font', sans-serif;
}

#searchInput {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 2px solid orange;
    border-radius: 5px;
    font-size: 16px;
}

#gamesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.footer.light-mode {
    background-color: #ccc;
    color: black;
}

.footer.dark-mode {
    background-color: #333;
    color: white;
}

.footer.blue-mode {
    background-color: #87cefa;
    color: #003366;
}

.footer h1 {
    margin: 5px 0;
    font-family: 'Apple-font', sans-serif;
}

.game-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.game-square {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 10px;
    border-radius: 10px;
}

.switch-container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid orange;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: orange;
    transition: .4s;
    border-radius: 50%;
}

.toggle-switch input[type="checkbox"]:checked + label .toggle-slider {
    background-color: #333;
}

.toggle-switch input[type="checkbox"]:checked + label .toggle-slider:before {
    transform: translateX(26px);
}

.theme-select {
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid orange;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.theme-select:focus {
    outline: none;
}

.mode-text {
    font-family: 'Apple-font', sans-serif;
    color: #333;
}

.mode-text.light-mode {
    color: black;
}

.mode-text.dark-mode {
    color: white;
}

.mode-text.blue-mode {
    color: #003366;
}


.scrollbar-content {
  padding: 20px;
}

.scrollbar-wrapper::-webkit-scrollbar {
  /* WebKit-based browsers */
  width: 10px;
  height: 10px;
  background-color: #f0f0f0;
}

.scrollbar-wrapper::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

.scrollbar-wrapper::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* Firefox */
.scrollbar-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #aaa #f0f0f0;
}

/* Internet Explorer */
.scrollbar-wrapper {
  overflow-y: scroll;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
  height: 10px; /* height of the scrollbar */
  background-color: #f0f0f0; /* background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #aaa; /* color of the scrollbar thumb */
  border-radius: 10px; /* rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* background color of the scrollbar track */
}

/* Body Styles */
body {
  background-image: url('../content/backrounds/backround.png'); /* Fix the URL */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'ubuntu', sans-serif; /* Use single quotes for font family */
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Heading Styles */
h1 {
  font-family: 'Apple', sans-serif; /* Use single quotes for font family */
}

/* Global Transition */
* {
  transition: all 0.3s ease;
}

/* Navigation Styles */
nav a {
  float: left;
  display: block;
  color: #0d0c0c;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #dd2020;
  color: #0d0c0c;
  border-radius: 5px;
}

/* Container Styles */
.container {
  padding: 20px;
}

/* Game Title Styles */
.game-title {
  color: #3c3c3c;
  background-color: #a5a2a2;
  width: 820px;
  padding: 10px;
  margin-top: -25px;
  font-family: "sans-serif";
  font-weight: 800;
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-title button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 0px;
  padding-right: 15px;
}

.game-title button img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.game-title > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.game-title-text {
  font-size: xx-large;
  padding-bottom: 5px;
}

.game-title-subtext {
  margin-top: -5px;
  font-size: large;
  font-weight: 600;
  text-align: left;
  padding-left: 0;
  white-space: nowrap;
}

/* Search Input Styles */
#searchInput {
  padding: 17px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
 
  border-radius: 10px;
  border: none;
  font-size: 24px;
  user-select: none;
  outline: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

#searchInput:focus {
  border: 3px solid var(--accent-color);
}

#gamesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.game {
  margin: 10px;
  text-align: center;
  flex: 1 0 200px;
  max-width: 200px;
  display: inline-block;
  margin: 10px;
  transition: transform 0.3s ease;
  border: 2px;
  border-radius: 10px;
}

.game:hover {
  transform: scale(0.95);
  border: 2px solid var(--accent-color);
}

.game img {
  width: 100%;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game p {
  margin-top: 5px;
  font-weight: 600;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .game {
    flex-basis: calc(50% - 20px); /* Two games per row */
  }
}

@media only screen and (max-width: 400px) {
  .game {
    flex-basis: calc(100% - 20px); /* Single game per row */
  }
}
.center {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  #searchInput {
    width: 200px;
  }
}
.footer {
  margin: 10px auto;
  bottom: 0;
  justify-content: center;
  text-align: center;
  align-items: center;


}
.link {
  color: var(--accent-color);
  text-decoration: none;
}
